version: "3.9"

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: controle_financeiro
      POSTGRES_USER: financeiro_user
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"

  web:
    build: .
    command: python backend/manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
      - db

  celery_worker:
    build: .
    command: celery -A backend.config worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db

  celery_beat:
    build: .
    command: celery -A backend.config beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - db
