.app-container {
  display: flex;
  height: 100vh;
  background-color: #0f172a;
}

.main-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 24px;
  overflow-y: auto;
  background-color: #020617;
}
