<div class="form-container">
  <h1>Bem-vindo</h1>
  <p class="subtitle">Controle financeiro pessoal</p>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="field">
      <label>Usuário</label>
      <input formControlName="username" />
      <small *ngIf="form.controls.username.invalid && form.controls.username.touched">
        Usuário obrigatório
      </small>
    </div>

    <div class="field password-field">
      <label>Senha</label>

      <div class="password-wrapper">
        <input [type]="showPassword ? 'text' : 'password'" formControlName="password" />

        <span class="toggle-password" (click)="togglePassword()">
          {{ showPassword ? 'Ocultar' : 'Mostrar' }}
        </span>
      </div>

      <small *ngIf="form.controls.password.invalid && form.controls.password.touched">
        Senha obrigatória
      </small>
    </div>

    <button [disabled]="form.invalid">Entrar</button>
  </form>

  <div class="footer">
    Não tem conta?
    <a routerLink="/register">Criar agora</a>
  </div>
</div>