.sidebar {
  height: 100vh;
  width: 240px;
  background-color: #020617;
  color: #e5e7eb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #1e293b;
}

nav {
  display: flex;
  flex-direction: column;
}


.logo {
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
}

nav a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 12px;
  margin-bottom: 8px;
  border-radius: 8px;
  color: #cbd5f5;
  text-decoration: none;
  transition: background 0.2s;
}

.material-icons {
  font-size: 20px;
}

nav a:hover {
  background-color: #1e293b;
}

nav a.active {
  background-color: #2563eb;
  color: #fff;
}

@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 64px;

    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    padding: 0 12px;
    border-top: 1px solid #1e293b;
    z-index: 1000;
  }

  .logo {
    display: none;
  }

  nav {
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
  }

  nav a {
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
  }
}


