.header {
  height: 64px;
  background-color: #020617;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: 1px solid #1e293b;
  color: #e5e7eb;
}

.title {
  font-size: 18px;
  font-weight: 500;
}
