<form [formGroup]="form" (ngSubmit)="submit()">
  <h3>
    {{ expense ? 'Editar despesa' : 'Cadastrar nova despesa' }}
  </h3>

  <input placeholder="Descrição" formControlName="description" />

  <input type="text" placeholder="Valor (R$)" formControlName="total_value" inputmode="decimal"
    (blur)="formatValue()" />

  <input type="date" formControlName="purchase_date" />

  <select formControlName="payment_type">
    <option [ngValue]="null" disabled>Selecione o método de pagamento</option>
    <option value="CARTAO">Cartão</option>
    <option value="PIX">Pix</option>
    <option value="DINHEIRO">Dinheiro</option>
    <option value="FIADO">Fiado</option>
  </select>

  <select *ngIf="form.get('payment_type')?.value === 'CARTAO'" formControlName="card">
    <option [ngValue]="null" disabled>Selecione o cartão</option>
    <option *ngFor="let card of cards" [ngValue]="card.id">
      {{ card.bank_name }} - {{ card.brand }}
    </option>
  </select>

  <input type="number" placeholder="Parcelas" formControlName="installments_quantity" />

  <div class="actions">
    <button type="submit" class="primary">Salvar</button>
    <button type="button" class="secondary" (click)="close()">Cancelar</button>
  </div>


</form>