:root {
  --bg-main: #f1f5f9;     // fundo geral
  --bg-card: #ffffff;    // cards
  --bg-muted: #e2e8f0;   // inputs / áreas suaves

  --text-main: #0f172a;  // texto principal
  --text-muted: #475569; // texto secundário

  --primary: #2563eb;
  --success: #16a34a;
  --warning: #d97706;
  --danger: #dc2626;

  --mobile-sidebar-height: 64px;
}


* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
  min-height: 100vh;
}

h1 {
  font-size: 24px;
  font-weight: 600;
}

h2 {
  font-size: 18px;
  font-weight: 500;
}

small {
  font-size: 12px;
  color: var(--text-muted);
}

.card {
  background: var(--bg-card);
  border-radius: 16px;
  padding: 24px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
}

input,
select {
  background: var(--bg-muted);
  border: none;
  padding: 10px;
  border-radius: 8px;
  color: var(--text-main);
}

input:focus,
select:focus {
  outline: 2px solid var(--primary);
}

button {
  background: var(--primary);
  color: #020617;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.2s ease;
}

button:hover {
  background: #0ea5e9;
}
